---
layout: post
date: 2018-11-09 00:00:00-0000
inline: true
---

Our paper entitled "On Usage of Autoencoders and Siamese Networks for Online Handwritten Signature Verification" has been published in Neural Computing and Applications journal. Full-text available [here](http://em.rdcu.be/wf/click?upn=lMZy1lernSJ7apc5DgYM8W2pPMH8eXy9hcMkYolmgIk-3D_Jpk3yCEj3AO7Xaqe0vQ2JDKo-2BEx-2BaRjDsEi1o3ohwm7TMqOB5OEs0gVVGdHzNfPvL7M1fRN3tUnryfwviSh4mP2TvTRqsk2HpxNY3VRUSRvZ1UdbYmWM5Gvbxo5OQTN-2B-2FjsAL2DUtyldI5qT-2Bj1Sk-2F5WL24Gz-2BeSGV9W-2FgX0wRbLJ3C5OidIXCSK4t3hWPdcnEdyvA4oPYKD9BOkRzagB-2BYQb4eqjn4kz0lKsPDZSsB-2FQRwFKQ2T6D32pB78cGMntvEcZHvwRwVaCOAnew9HwQ-3D-3D).
